<h3 class="text">IN STORE ANALYTICS >> ESTIMATING POS THROUGHPUT</h3>
<div class="container">
    <button class="btn btn-danger">UPLOAD</button>
    <button class="btn btn-light reports" routerLink="/ins-report">REPORTS</button>
    <div class="row">
        <div class="col-md-4 uploads">
            <div class="card cardsize">
                <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body">
                </div>
                <div><button class="btn btn-primary recepients">UPLOAD RECIEPTS</button></div>
            </div>
        </div>

        <div class="col-md-3 offset-md-1 process">
            <div class="card cardsize">
                <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body viewimage">view upload image
                    <!-- <div class="test rounded-circle"></div> -->
                </div>
                <div><button class="btn btn-primary recepients">CLICK TO PROCESS</button></div>

            </div>
            <!-- <div class="col-md-3">
              <button class="btn btn-danger col-md-3">CLICK TO PROCESS</button>
              </div> -->
        </div>
        <div class="col-md-3 offset-md-1 preview">
            <div class="card previewbody">
                <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
