.text{
    text-align:center;
}
.reports{
    margin-left:10px;
}
.cardsize{
    height: 350px;
    width:90%;
}
.viewimage{
    padding-top: 128px;
    text-align: center;
}
.recepients{
    width:100%;
    margin-top:5px;
}
.uploads,.process,.preview{
    margin-top:30px;
}
.previewbody{
    height: 350px !important;
}
.test {
    width: 50px;
    height: 70px;
    background-color: yellow;
  }

