.text{
    text-align: center;

}
.container{
    margin-top:44px;
}
.card{
    margin-bottom:10px;
}
.opts-container {
    height: calc(100vh - 167px);
  }
  @media screen and (min-width:768px) and (max-width:823px){
    .card-body {
        height: 174px;
    }
  }
