.container{
    margin-top:20px;
}

.reports{
    margin-left:10px;
}
.label{
    font-weight: bold;
    margin-left:10px;
}
.cardsize{
    height: 350px;
    width:90%;
    padding-top: 72px;
}
.viewimage{
    padding-top: 128px;
    text-align: center;
}
.recepients{
    width:100%;
    margin-top:5px;
}
.uploads,.process,.preview{
    margin-top:30px;
}
.previewbody{
    height: 350px !important;
}
.test {
    width: 50px;
    height: 70px;
    background-color: yellow;
  }
  .path{
    margin-top:14px;
}
.check{
    margin-top:14px;
    font-size:24px;
    color:lightgreen;
}
  .uploadcard{
    margin-left: 10px;
    margin-right: 10px;
    
    }
    .header{
    font-weight: bold;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: -2px;
    padding-left: 5px;
    }
    .recepients {
        margin: 10px;
      }
    //   .source{
    //     height: 400px;
    //       }
      .img-thumbnail {
        cursor: pointer;
        width: 80px;
        height: 128px;
        margin-left: 10px;
        margin-bottom: 10px;
      }
//   @media screen and (min-width:768px){
//     .processbutton{
//         margin-top: 188px;
//     }
//   }


//   .text{
//     text-align:center;
// }
.reports{
    margin-left:10px;
}
.buttons{
    margin-bottom: 20px;
}
.selectmenu{
    margin-bottom: 20px;;
}
.card-body{
    padding-top:50px;
    padding-bottom: 5px;
    padding-left:5px;
}
.card{
    margin-bottom:10px;
}
.trendchart,.customertrend,.product{
    height:320px;
}
.products{
    height:200px;
}
.graph{
    height:400px;
}
.trend{
    margin-top: 85px;
    padding-left: 43px;
    padding-right: 43px;
}
.margin{
    padding:0px;
}
.reportstart{
    padding:20px;
}
.carousel-control-prev,.carousel-control-next{
    background-color: red;
}
.carousel slide{
    margin-top:25px;
}