<section>
  <div class="row opts-container align-items-center">
    <div class="col-md-3 offset-md-1 page1-opt">
      <div class="card">
        <div class="card-body clickable align-center" routerLink="/man-corrosion">
          <h4 class="card-title instore">
            Corrosion Detection
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-1 page1-opt">
      <div class="card">
        <div class="card-body clickable align-center" routerLink="/man-damage">
          <h4 class="card-title">Damage Detection</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 offset-md-1 page1-opt">
      <div class="card">
        <div class="card-body clickable align-center" routerLink="/man-vibrate">
          <h4 class="card-title instore">
            Vibration Analysis
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
