<section>
  <div class="row opts-container align-items-center">
    <div class="col-md-4 offset-md-1 page1-opt">
      <div class="card">
        <div class="card-body clickable align-center" routerLink="/ins-counterfeit">
          <h4 class="card-title instore">
            Corrosion Detection
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-2 page1-opt">
      <div class="card">
        <div class="card-body clickable align-center" routerLink="/ins-traffic">
          <h4 class="card-title">Damage Detection</h4>
        </div>
      </div>
    </div>
  </div>
</section>
