<section>
  <div class="row opts-container align-items-center">
    <div class="col-md-4 offset-md-1 page1-opt">
      <div class="card" routerLink="/instore">
        <div class="card-body">
          <h4 class="card-title instore">IN STORE ANALYTICS</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-2 page1-opt">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">MANUFACTURING EXCELLENCE</h4>
        </div>
      </div>
    </div>
  </div>
</section>
