<div class="container section">
    <h5 class="text">SHELF INVENTORY MONITORING<i class="fa fa-cogs config-icon"></i></h5>
    <hr>
    <!-- <div class="row">
        <div class="col-md-4">
            <div class="card">
                <p class="header">SHELF1</p>
                <hr class="horizon">
                <video class="video1" controls="allowControls" id="myVideo1" autoplay playsinline>
                    <source src="../../../../assets/Video/coke_video_output.mp4" type="video/mp4">
                </video>
                <p class="shelftext header">SHELF INVENTORY</p>
                <div class="row tablemargin">
                    <table class="table table-sm table-bordered ">
                        <thead class="thead-inverse">
                            <tr>
                                <th class="tableheader">2s</th>
                                <th class="tableheader">4s</th>
                                <th class="tableheader">6s</th>
                                <th class="tableheader">8s</th>
                                <th class="tableheader">10s</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td class="tabledata" >{{array1.T1}}</td>
                                <td class="tabledata" >{{array1.T2}}</td>
                                <td class="tabledata" >{{array1.T3}}</td>
                                <td class="tabledata" >{{array1.T4}}</td>
                                <td class="tabledata" >{{array1.T5}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <p class="header">SHELF2</p>
                <hr class="horizon">
                <video class="video1" controls id="myVideo2" autoplay>
                    <source src="../../../../assets/Video/maggi_video_output.mp4" type="video/mp4">
                </video>
                <p class="shelftext header">SHELF INVENTORY</p>
                <div class="row tablemargin">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-inverse">
                            <tr>
                                <th class="tableheader">2s</th>
                                <th class="tableheader">4s</th>
                                <th class="tableheader">6s</th>
                                <th class="tableheader">8s</th>
                                <th class="tableheader">10s</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                              <td class="tabledata">{{array2.T1}}</td>
                              <td class="tabledata">{{array2.T2}}</td>
                              <td class="tabledata">{{array2.T3}}</td>
                              <td class="tabledata">{{array2.T4}}</td>
                              <td class="tabledata">{{array2.T5}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
      <div class="col-md-6">
        <div class="card">
                <video class="video1" controls="allowControls" id="myVideo1" autoplay playsinline>
                <source src="" type="video/mp4">
            </video>
          </div>
          </div>
      <div class="col-md-6 ">
        <div class="row tablemargin card ">
            <table class=" table-sm table-bordered ">
                <thead class="thead-inverse">
                    <tr>
                        <th class="tableheader">2s</th>
                        <th class="tableheader">4s</th>
                        <th class="tableheader">6s</th>
                        <th class="tableheader">8s</th>
                        <th class="tableheader">10s</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td class="tabledata" ></td>
                        <td class="tabledata" ></td>
                        <td class="tabledata" ></td>
                        <td class="tabledata" ></td>
                        <td class="tabledata" ></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
