<!-- <h3 class="text">IN STORE ANALYTICS</h3> -->

<!-- <div class="container"> -->
    <div class="row opts-container align-items-center">
        <div class="col-md-3 col-xl-3 col-lg-6">
            <div class="card" routerLink="/ins-counterfeit">
                <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body">
                    <h4 class="card-title counterfeit">COUNTERFIET DETECTION</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 col-lg-6">
            <div class="card" routerLink="/ins-stored_traffic">
                <div class="card-body">
                    <h4 class="card-title store_traffic">STORE TRAFFIC ANALYTICS</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 col-lg-6">
            <div class="card" routerLink="/ins-pos">
                <div class="card-body">
                    <h4 class="card-title">ESTIMATING POS THROUGHPUT</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SHELF INVENTORY MONITORING</h4>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->