<h3 class="text">IN STORE ANALYTICS</h3>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"> -->
                <div class="card-body">
                    <h4 class="card-title">COUNTERFIET DETECTION</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">STORE TRAFFIC ANALYTICS</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" routerLink="/ins-pos">
                <div class="card-body">
                    <h4 class="card-title">ESTIMATING POS THROUGHPUT</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SHELF INVENTORY MONITORING</h4>
                </div>
            </div>
        </div>
    </div>
</div>