<div class="container section">
  <h5 class="text">DEFECT DETECTION<i class="fa fa-cogs config-icon"></i></h5>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card secondcard">

        <p class="header">Select Source Image</p>
        <hr>
        <p class="uploadtext font-weight-bold">Upload an Image</p>
        <div class="card uploadcard">
          <div class="row">
            <div class="col-md-5">
              <button class="btn btn-sm btn-secondary recepients disabled"
                [disabled]="(uploads == false) ? 'disabled': null">UPLOAD</button>
            </div>
            <div class="col-md-5">
              <p class="path">No file choosen</p>
              <!-- <p *ngIf="path" class="path">{{images | slice:25}}</p> -->
            </div>
          </div>
        </div>

        <p class="choosegallery font-weight-bold">or Choose from Gallery</p>

        <div class="col-md-12">
          <div class="row">
            <div *ngFor="let item of filterdata; let i = index;" class="col-md-4">
              <img src="{{item.path}}" class="img-thumbnail" id="myImg" alt="{{item.name}}" [ngClass]="i == selImgInd ? 'active' : null" (click)="selectimage(i)">
            </div>
            <div class="col-md-12" width="100%">
              <button class="btn btn-primary col-md-12 detect" (click)="process()"
              [disabled]="(processing == false) ? 'disabled': null">DETECT DEFECTS</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <p class="header">Defect Identification</p>
        <hr>
        <p class="uploadtext font-weight-bold">Selected Image</p>
        <div class="selectedimages">
          <img class="card-img-top selected img-fluid" src="{{uploadedimage}}" alt="">

        </div>

        <p class="choosegallery font-weight-bold">Defect Estimation</p>

        <div class="row">
          <div class="col-12 result-labels">
            <label class="label col-4">Type 1: {{ response.Chaffing }}</label>
            <label class="label col-4">Type 2: {{ response.Edge }}</label>
            <label class="label col-4">Type 3: {{ response.Fastener }}</label>
            <label class="label col-4">Type 4: {{ response.Filiform }}</label>
            <label class="label col-4">Type 5: {{ response.Surface }}</label>
          </div>
          <!-- <div class="col-3">
            <label class="label col-6">Chaffing: {{}}</label>
            <label class="value col-6">Value</label>
          </div>
          <div class="col-md-6">
            <label class="label col-6">Edge</label>
            <label class="value col-6">Value</label>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom"></div>
