<h3 class="text">IN STORE TRAFFIC SUMMARY</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card video">
                <h6 class="text">In Store Video Feed</h6>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="card video2">
                            Beauty & Grooming
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card video2">
                            Frozen Food Section
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card video2">
                            Personal Health Care Section
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card video2">
                            Home Care Section
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 padding">
                <div class="card trafficgraph">
                    <h6 class="text">Traffic Intensity By TIme</h6>
                    <div class="row">
                        <div class="col-md-4">Store Selection
                        </div>
                        <div class="col-md-4">From
                        </div>
                        <div class="col-md-4"> To</div>
                     </div>
                    <div class="data"></div>
                </div>
            </div>
            <div class="col-md-12 padding">
                <div class="card trafficgraph">
                    <h6 class="text">Traffic Intensity Across Store</h6>
                    <!-- <div class="col-md-6">From</div> -->
                    <div class="row">
                       <div class="col-md-6">From
                       </div>
                       <div class="col-md-6"> To</div>
                    </div>
                    <div class="data"></div>
                </div>
            </div>
        </div>
    </div>
</div>