<h3 class="text">IN STORE TRAFFIC SUMMARY</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="card video">
                <h6 class="text">In Store Video Feed</h6>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="card video2">
                            Beauty & Grooming
                              <div width="100%">
                              <div [innerHtml]="yt_iframe_html"></div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card video2">
                            Frozen Food Section
                              <div [innerHtml]="dm_iframe_html"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card video2">
                            Personal Health Care Section
                              <div [innerHtml]="dm_iframe_html"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card video2">
                            Home Care Section
                              <div [innerHtml]="dm_iframe_html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12 padding">
                <div class="card trafficgraph">
                    <h6 class="text">Traffic Intensity By TIme</h6>
                    <div class="row">
                        <div class="table table-bordered table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Time</th>
                                  <th>Beuty & Grooming</th>
                                  <th>Frozen Food</th>
                                  <th>Health Care</th>
                                  <th>Home care</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of array1[0]">
                                  <td>{{data.Time}}</td>
                                  <td>{{data.Grooming}}</td>
                                  <td>{{data.Frozen}}</td>
                                  <td>{{data.Health}}</td>
                                  <td>{{data.Home}}</td>
                                </tr>                               
                              </tbody>
                            </table>
                          </div>
                     </div>
                    <!-- <div class="data"></div> -->
                </div>
            </div>
            
        </div>
    </div>
</div>