.text{
    text-align:center;
}
.video{
    // height:411px;
    margin-top:10px;
}
.trafficgraph{
    height:200px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.data{
    border: 1px solid black;
    height: 148px;
    margin: 10px;
}
.padding{
    padding:0px;
}
.video2{
    border:1px solid black;
    height: 136px;
    margin:20px;
    margin-top:40px;
}