.text {
    color:darkblue;
    font-weight: bold;
}
.header{
    // padding-left:10px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: -2px;
    padding-left: 5px;
}
hr{
    color:darkblue;
}
.select {
    height: 114px;
}
.selecttag{
    margin-left: 12px;
    width: 90%;
}
.card {
  margin-top: 20px;
}
.selectedimage {
  height: 63px;
  border: 1px solid black;
  margin: 20px;
  width: 90%;
  margin-left: 21px;
}
.gallery {
  height: 167px;
  border: 1px solid black;
  margin: 20px;
}
.opts-container {
  height: calc(100vh - 167px);
}
.recepients {
  margin: 10px;
}
.selectedimages {
  border: 1px solid black;
  width: 90%;
  height: 257px;
  margin-left: 15px;
}
.img-thumbnail {
  cursor: pointer;
  width: 109px;
  height: 128px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.secondcard {
  margin-bottom: 20px;
}
.label{
    padding-left: 10px;;
}
.text{
margin-left: 10px;
margin-right:10px;
margin-bottom: 10px;
width:90%;
}
.secondtext{
    width:100%;
margin-right:10px;
margin-bottom: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
}
.detect{
    background-color:darkblue;
    color:white;
}
.path{
    margin:14px;
}
.check{
    margin-top:14px;
    font-size:24px;
    color:lightgreen;
}
.uploadcard{
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
}
.uploadtext{
    padding-left:10px;
}
.choosegallery{
    padding-left:10px;
    padding-top:10px;
}
.selected{
    max-height: 100%;
}
.bottom{
    padding-bottom: 30px;
    margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .detectbutton {
    margin-top: 188px;
  }
}
