<header>
  <div class="row">
    <div class="col-md-auto">
      <img class="logo" src="./../assets/pglogo.jpg" alt="" routerLink="/intro">
    </div>
    <div class="col header-text-parent">
      <p class="header-text">Innovation Challenge</p>
    </div>
    <div class="col-md-auto mr-auto">
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/instore">Instore Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manufacture">Manufacturing Excellence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
