header {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  margin-bottom: 30px;

  .header-text-parent {
    min-height: 70px;
    .header-text {
        color: #57afe4;
        font-weight: bold;
        font-size: 32px;
        padding: 10px 0 0;
    }
  }

  .logo {
    width: 61px;
    height: 62px;
    margin: 7px 0 0;
  }
}
